<h1>
  MockBoard
</h1>

<mat-card class="example-card" style="width: 500px; margin: auto">
  <mat-card-header style="display: block;">
    <mat-card-title>Enter Credentials</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" type="text" formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="!loginForm.valid" color="primary" (click)="login()">Login</button>
  </mat-card-actions>
  <span style="color: red">{{errorMessage}}</span>
</mat-card>
<div style="text-align:center; color: white">
  <h5 style="color: white">Created with Angular + Material</h5>
</div>
