<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a  mat-list-item type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          Blackboard V1
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a [routerLink]="'/mainHub/' + userType">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/announcements/' + userType">
              <mat-icon class="icon">add_alert</mat-icon>
              <span class="label">Announcements</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/email/' + userType">
              <mat-icon class="icon">mail_outline</mat-icon>
              <span class="label">Email</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/calendar/' + userType">
              <mat-icon class="icon">date_range</mat-icon>
              <span class="label">Calendar</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/discussion/' + userType">
              <mat-icon class="icon">forum</mat-icon>
              <span  class="label">Discussion</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/courses/' + userType">
              <mat-icon class="icon">create</mat-icon>
              <span class="label">Courses</span>
            </a>
          </li>
          <li>
            <a routerLink="/login">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
