<!--The content below is only a placeholder and can be replaced.-->
<script src="app.module.ts"></script>
<script src="app.component.ts"></script>
<div style="text-align:center; color: white">
  <h1>
    {{ title }} V1
  </h1>
  <mat-toolbar color="primary">
    <span>My Application</span>
    <button mat-raised-button>Click me!</button>
  </mat-toolbar>  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    &nbsp;
    &nbsp;
    <a routerLink="/addStudent">Add Student</a>
  </nav>
  <router-outlet></router-outlet>
  <h5 style="color: white">Created with Angular + Material</h5>
</div>



